[submodule "backend"]
	path = backend
	url = https://github.com/Chukwuemekamusic/dts-task-manager-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Chukwuemekamusic/dts-task-manager-frontend.git
